*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build.gradle.kts
app/proguard-rules.pro
app/src/androidTest/java/com/example/clinicanc_final/ExampleInstrumentedTest.kt
app/src/main/AndroidManifest.xml
app/src/main/java/com/example/clinicanc_final/MainActivity.kt
app/src/main/res/drawable/Android Drawable.zip
app/src/main/res/drawable/Archer T4U Plus(US) v2.0_win10win11_08022021,1030.44.0531.2021.zip
app/src/main/res/drawable/backimag2.png
app/src/main/res/drawable/bck_medical.jpg
app/src/main/res/drawable/cliniclogo.png
app/src/main/res/drawable/flat-world-health-day-illustration.zip
app/src/main/res/drawable/GoogleIcon.png
app/src/main/res/drawable/ic_launcher_background.xml
app/src/main/res/drawable/ic_launcher_foreground.xml
app/src/main/res/drawable/loginbackground.xml
app/src/main/res/drawable/LogoClinica.jpg
app/src/main/res/drawable/LogoClinicapng.png
app/src/main/res/drawable/LogoMedicos.jpg
app/src/main/res/drawable/registerpage.jpg
app/src/main/res/drawable/rounded_corner.xml
app/src/main/res/layout/activity_main.xml
app/src/main/res/layout/forgot_password.xml
app/src/main/res/layout/menu_desplegable.xml
app/src/main/res/layout/popup_recuperarok.xml
app/src/main/res/layout/popup_registrook.xml
app/src/main/res/layout/popup_turnook.xml
app/src/main/res/layout/register_home.xml
app/src/main/res/layout/registro_turno.xml
app/src/main/res/layout/user_home.xml
app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
app/src/main/res/mipmap-hdpi/ic_launcher.webp
app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
app/src/main/res/mipmap-mdpi/ic_launcher.webp
app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
app/src/main/res/mipmap-xhdpi/ic_launcher.webp
app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
app/src/main/res/values-night/themes.xml
app/src/main/res/values/colors.xml
app/src/main/res/values/strings.xml
app/src/main/res/values/themes.xml
app/src/main/res/xml/backup_rules.xml
app/src/main/res/xml/data_extraction_rules.xml
app/src/test/java/com/example/clinicanc_final/ExampleUnitTest.kt
build.gradle.kts
gradle.properties
gradle/libs.versions.toml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
settings.gradle.kts
